/* Global style */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Kanit', sans-serif;
    color: #2C3333;
    background-color: #A5C9CA;
}

/* Welcome page style */

#welcome-message {
    z-index: 1;
    background-color: #A5C9CA;
    border: solid #8B1333 3px;
    text-align: center;
    border-radius: 10px;
    width: 60%;
    height: 30%;
    position: absolute;
    margin: 15% auto;
    padding: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

#get-started {
    background-color: #395B64;
    color: #E7F6F2;
    border-radius: 10px;
    height: 25%;
    width: 25%;
    margin-top: 5%;
    text-align: center;
}

#welcome-message button:hover {
    transform: scale(1.5);
    transition: transform 150ms ease-in-out;
}

/* End of game message style */

#end-of-game-message {
    display: none; 
    z-index: 1;
    background-color: #A5C9CA;
    border: solid #8B1333 3px;
    text-align: center;
    border-radius: 10px;
    width: 60%;
    height: 40%;
    position: absolute;
    margin: 12.5% auto;
    padding: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

#play-again {
    background-color: #395B64;
    color: #E7F6F2;
    border-radius: 10px;
    height: 20%;
    width: 25%;
    margin-top: 7.5%;
    text-align: center;
}

#end-of-game-message button:hover {
    transform: scale(1.5);
    transition: transform 150ms ease-in-out;
}

/* full-game section style containing game */
.full-game {
    background-color: #395B64;
    width: 95%;
    height: 650px;
    color: #E7F6F2;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    padding-top: .5%;
    padding-left: 5%;
    padding-bottom: .5%;
    border-radius: 20px;
    position: relative;
}

.logo {
    text-align: center;
}

.full-game h2 {
    text-align: center;
}

.game-rules {
    display: block;
    border-radius: 10px;
    color: #2C3333;
    background-color: #A5C9CA;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#rules-list {
    font-size: 125%;
    margin-left: 32.5%;
}

.game-rules p {
    font-size: 125%;
    text-align: center;
}

/* style of interactive buttons */

.button-icons {
    display: block;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    text-align: center;
    height: 25px;
}

.button-icons button {
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.icon i {
    background-color: #395B64;
    color: #E7F6F2;
    font-size: 5em;
    height: 70px;
}

#hidden-buttons {
    visibility: hidden;
    display: block;
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align: center;
    margin-top: 7.5%;
}

#hidden-buttons button {
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.icon i:hover {
    transform: scale(1.5);
    transition: transform 150ms ease-in-out;
}

/* opponents choice and game result sytling section */

.game-result div {
    margin-top: 2.5%;
    font-size: 150%;
    text-align: center;
}

#overall-outcome {
    margin-top: 1%;
}

/* style for game-scores section */
.game-scores {
    margin-left: 10%;
    text-align: center;
    width: 80%;
}

.game-scores span {
    vertical-align: top;
    display: inline-block;
}

#your-score {
    padding-left: 5%;
    float: left;
    color: #070E97;
}

#opponents-score {
    float: right;
    color: #8B1333;
}

/* Media queries */

@media screen and (max-width: 1200px) {
    .game-rules {
        width: 50%;
    }
    
    #hidden-buttons {
        margin-top: 10%;
    }
}

@media screen and (max-width: 1051px) {
    #welcome-message {
        width: 70%;
    }

    .game-rules {
        width: 60%;
    }

    #end-of-game-message {
        width: 70%;
        height: 45%;
    }

    #play-again {
        margin-top: 10%;
    }
}

@media screen and (max-width: 991px) {
    #end-of-game-message {
        height: 42.5%;
    }
}

@media screen and (max-width: 901px) {
    #welcome-message {
        width: 80%;
    }
    
    #end-of-game-message {
        width: 80%;
        height: 47.5%;
    }
    
    .game-rules {
        width: 70%;
    }
    
    #hidden-buttons {
        margin-top: 15%;
    }
}

@media screen and (max-width: 789px) {
    #welcome-message {
        width: 90%;
    }

    .game-rules {
        width: 80%;
    }

    #end-of-game-message {
        width: 90%;
        height: 45%;
    }
}

@media screen and (max-width: 580px) {
    #welcome-message {
        height: 40%;
    }

    #get-started {
        height: 20%;
        margin-top: 15%;
        
    }
}

@media screen and (max-width: 540px) {
    #end-of-game-message {
        height: 42.5%;
    }
}