/* Global style */
body {
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    background-color: #87ceeb;
}

/* Section style to contain game */
.full-game {
    background-color: #808080;
    color: white;
    padding-top: .5%;
    padding-left: 5%;
    padding-bottom: .5%;
    }

.logo {
        text-align: center;
    }