/* Global style */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Kanit', sans-serif;
    color: #2C3333;
    background-color: #A5C9CA;
}

/* Section style to contain game */
.full-game {
    background-color: #395B64;
    color: #E7F6F2;
    margin: 1%;
    padding-top: .5%;
    padding-left: 5%;
    padding-bottom: .5%;
    border-radius: 20px;
    position: relative;
}

.logo {
    text-align: center;
}

.full-game h2 {
    text-align: center;
}

#rules-list {
    font-size: 125%;
    margin-left: 40%;
}
 
/* style of interactive buttons */
.buttons {
    display: inline-block;
    text-align: center;
    font-size: 200%;
}

.button-icons {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    font-size: 400%;
}

.icon {
    text-align: center;
}

.rock {
    float: left;
    left: .5%;
}

.scissors {
    float: right;
}

/* opponents choice and game result sytling section */

.opponents-selection {
    padding-top: 5%;
    font-size: 150%;
    text-align: center;
}

.result {
    padding-top: 2.5%;
    font-size: 150%;
    text-align: center;
}

/* style for game-scores section */ 
.game-scores {
    margin-left: 10%;
    text-align: center;
    width: 80%;
}

.game-scores span {
    vertical-align: top;
    display: inline-block;
}

.my-score {
    padding-left: 5%;
    float: left;
}

.opponents-score {
    float: right;
}